body{
    padding: 0;
    margin: 0;
}

.main{
    padding: 20px;
    border: 3px solid lightgreen;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  
}

.main div{
    margin-left: 20px;
}

.match-color{
    display: flex;
    flex-direction: row;
    margin-left: 150px;
}

.score{
    margin: 0px auto;
}
.row-one{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row-two{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.row-three{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




.balloon {
    display:inline-block;
     width:100px;
    height:130px;
    border-radius:80%;
    position:relative;
    box-shadow:inset -10px -10px 0 rgba(0,0,0,0.07);
    margin:15px 50px;
    z-index:10;
    cursor: pointer;
    border: black;

  }

  .balloon:before {
    content:"▲";
    font-size:20px;
    display:block;
    color: violet;
    text-align:center;
    width:100%;
    position:absolute;
    bottom:-12px;
    z-index:-100;
  }


#matchColor{
    border: 2px solid black;
    padding: 4px 18px;
    margin-left: 10px;
}

